<style>
    .deletePadBtn{
        display: inline !important;
    }
</style>
<!--<li data-key="deletePad">
    <a class=" buttonicon buttonicon-trash deletePadBtn" id="deletePadButton" title="Dieses Pad löschen" style="<%= hidden%>">
        <span style="color:#333; height: 100%; font-size:1.25em; margin: auto 0.15em;"></span>
    </a>
</li>
<li class="separator"></li>-->
<li data-key="deletePad" style="display: inline !important">
    <a class=" buttonicon buttonicon-trash deletePadBtn" id="deletePadButton" title="Dieses Pad löschen" style="<%= hidden%>">
        <span style="color:#333; height: 100%; font-size:1.25em; margin: auto 0.15em;"></span>Pad löschen
    </a>
</li>
<li class="separator" style="display: none !important"></li>